<div class="dropdown">
  <button class="dropbtn" type="button" aria-label="Open navigation menu" aria-expanded="false" aria-controls="singlePanelMenu">
    <div class="hamburger">
      <span></span><span></span><span></span>
    </div>
  </button>

  <div class="dropdown-content single-panel-menu" id="singlePanelMenu" aria-hidden="true">
    <div class="menu-view active" data-menu="root">
      <div class="menu-brand">
        <span class="menu-logo" aria-hidden="true">ඞ</span>
        <span class="menu-copy">
          <span class="menu-kicker">MAUL</span>
          <strong>Modded Among Us</strong>
        </span>
      </div>
      <a href="https://moddedamong.us/"><i class="fa-solid fa-house"></i> Home</a>
      <button type="button" class="menu-nav-btn" data-target="lobby-help">
        <span><i class="fa-solid fa-life-ring"></i> Lobby Help</span>
        <i class="fa-solid fa-chevron-right"></i>
      </button>
      <button type="button" class="menu-nav-btn" data-target="events">
        <span><i class="fa-regular fa-calendar"></i> Events</span>
        <i class="fa-solid fa-chevron-right"></i>
      </button>
      <button type="button" class="menu-nav-btn" data-target="mods">
        <span><i class="fa-solid fa-code-branch"></i> Mods</span>
        <i class="fa-solid fa-chevron-right"></i>
      </button>
      <a href="https://moddedamong.us/art.html"><i class="fa-solid fa-paintbrush"></i> User Art</a>
      <a href="https://moddedamong.us/ourstaff.html"><i class="fa-solid fa-users-gear"></i> Our Staff</a>
      <button type="button" class="menu-nav-btn" data-target="highlighted-users">
        <span><i class="fa-solid fa-star"></i> Highlighted Users</span>
        <i class="fa-solid fa-chevron-right"></i>
      </button>
      <button type="button" class="menu-nav-btn beta-glow" data-target="maul-regions">
        <span><i class="fa-solid fa-server"></i> MAUL Regions</span>
        <i class="fa-solid fa-chevron-right"></i>
      </button>
    </div>

    <div class="menu-view" data-menu="lobby-help">
      <button type="button" class="menu-back-btn" data-back="root">
        <span><i class="fa-solid fa-chevron-left"></i> Back</span>
      </button>
      <div class="submenu-title">Lobby Help</div>
      <a href="https://moddedamong.us/tags.html"><i class="fa-solid fa-ticket"></i> Tag Generator</a>
      <a href="https://moddedamong.us/templates.html"><i class="fa-solid fa-list"></i> Lobby Templates</a>
      <a href="https://moddedamong.us/editor.html"><i class="fa-solid fa-list"></i> Template Editor</a>
      <a href="https://moddedamong.us/icons.html"><i class="fa-regular fa-face-smile"></i> Icons and Fonts</a>
      <a href="https://moddedamong.us/customize.html"><i class="fa-regular fa-face-smile"></i> Customize Lobby Colors</a>
      <a href="https://moddedamong.us/faq.html"><i class="fa-regular fa-face-smile"></i> Lobby FAQ</a>
      <a href="https://moddedamong.us/hexhelper.html"><i class="fa-regular fa-face-smile"></i> Hex Color Helper</a>
      <a href="https://moddedamong.us/ehrtemplates.html"><i class="fa-regular fa-face-smile"></i> EHR Template Guide</a>
    </div>

    <div class="menu-view" data-menu="events">
      <button type="button" class="menu-back-btn" data-back="root">
        <span><i class="fa-solid fa-chevron-left"></i> Back</span>
      </button>
      <div class="submenu-title">Events</div>
      <a href="https://moddedamong.us/uno.html"><i class="fa-regular fa-calendar"></i> UNO Tournament </a>
      <a href="https://moddedamong.us/roletest.html"><i class="fa-regular fa-calendar"></i> Personality Test </a>
      <a href="https://moddedamong.us/wrapped.html"><i class="fa-regular fa-calendar"></i> 2025 MAUL Wrapped </a>
      <a href="https://moddedamong.us/calendar.html"><i class="fa-regular fa-calendar"></i> Event Calendar</a>
      <a href="https://moddedamong.us/eventpics.html"><i class="fa-regular fa-images"></i> Past Events</a>
    </div>

    <div class="menu-view" data-menu="mods">
      <button type="button" class="menu-back-btn" data-back="root">
        <span><i class="fa-solid fa-chevron-left"></i> Back</span>
      </button>
      <div class="submenu-title">Mods</div>
      <a href="https://moddedamong.us/mods.html"><i class="fa-solid fa-code-branch"></i> Featured Mods</a>
      <a href="https://moddedamong.us/presets.html"><i class="fa-solid fa-sliders"></i> Mod Presets</a>
    </div>

    <div class="menu-view" data-menu="maul-regions">
      <button type="button" class="menu-back-btn" data-back="root">
        <span><i class="fa-solid fa-chevron-left"></i> Back</span>
      </button>
      <div class="submenu-title">MAUL Regions</div>
      <a href="https://moddedamong.us/regions.html"><i class="fa-solid fa-globe"></i> Regions &amp; Setup</a>
      <a href="https://moddedamong.us/servers/MAUL_NA"><i class="fa-solid fa-server"></i> MAUL NA</a>
      <a href="https://moddedamong.us/servers/MAUL_EU"><i class="fa-solid fa-server"></i> MAUL EU</a>
      <a href="https://moddedamong.us/MAUL.html"><i class="fa-solid fa-server"></i> MAUL Rankings</a>
      <a href="https://moddedamong.us/lobbies.html"><i class="fa-solid fa-users"></i> MAUL Lobbies</a>
      <a href="https://moddedamong.us/regions/policy.html"><i class="fa-solid fa-shield-halved"></i> Privacy &amp; Terms</a>
    </div>

    <div class="menu-view" data-menu="highlighted-users">
      <button type="button" class="menu-back-btn" data-back="root">
        <span><i class="fa-solid fa-chevron-left"></i> Back</span>
      </button>
      <div class="submenu-title">Highlighted Users</div>
      <a href="https://moddedamong.us/featuredusers.html"><i class="fa-solid fa-user"></i> Featured User Info</a>
      <button type="button" class="menu-nav-btn" data-target="veteran-users">
        <span><i class="fa-solid fa-star"></i> Veteran Users</span>
        <i class="fa-solid fa-chevron-right"></i>
      </button>
      <button type="button" class="menu-nav-btn" data-target="mod-devs">
        <span><i class="fa-solid fa-code"></i> Mod Developers</span>
        <i class="fa-solid fa-chevron-right"></i>
      </button>
      <button type="button" class="menu-nav-btn highlight-glow" data-target="verified-hosts">
        <span><i class="fa-solid fa-check-circle"></i> Verified Hosts</span>
        <i class="fa-solid fa-chevron-right"></i>
      </button>
    </div>
    
    <div class="menu-view" data-menu="veteran-users">
      <button type="button" class="menu-back-btn" data-back="highlighted-users">
        <span><i class="fa-solid fa-chevron-left"></i> Back</span>
      </button>
      <div class="submenu-title">Veteran Users</div>
      <a href="https://moddedamong.us/featuredusers/Qmt.html"><i class="fa-solid fa-user"></i> Qmt</a>
      <a href="https://moddedamong.us/featuredusers/junko.html"><i class="fa-solid fa-user"></i> Junko</a>
      <a href="https://moddedamong.us/featuredusers/spyder.html"><i class="fa-solid fa-user"></i> Spyder</a>
      <a href="https://moddedamong.us/featuredusers/rise.html"><i class="fa-solid fa-user"></i> Ris&egrave;</a>
      <a href="https://moddedamong.us/featuredusers/jojo.html"><i class="fa-solid fa-user"></i> Jojo</a>
      <a href="https://moddedamong.us/featuredusers/bat.html"><i class="fa-solid fa-user"></i> Bat</a>
    </div>
    
     <div class="menu-view" data-menu="mod-devs">
      <button type="button" class="menu-back-btn" data-back="highlighted-users">
        <span><i class="fa-solid fa-chevron-left"></i> Back</span>
      </button>
      <div class="submenu-title">Mod Devs</div>
      <a href="https://moddedamong.us/featuredusers/apem.html"><i class="fa-solid fa-user"></i> Ape MV</a>
    </div>
       
    <div class="menu-view" data-menu="verified-hosts">
      <button type="button" class="menu-back-btn" data-back="highlighted-users">
        <span><i class="fa-solid fa-chevron-left"></i> Back</span>
      </button>
      <div class="submenu-title">Verified Hosts</div>
      <a href="https://moddedamong.us/featuredusers/pancake.html"><i class="fa-solid fa-user"></i> Pancake</a>
      <a href="https://moddedamong.us/featuredusers/wyzeris.html"><i class="fa-solid fa-user"></i> Wyzeris</a>
      <a href="https://moddedamong.us/featuredusers/crowy.html"><i class="fa-solid fa-user"></i> Crowy</a>
      <a href="https://moddedamong.us/featuredusers/citrion.html"><i class="fa-solid fa-user"></i> Citrion</a>
    </div>
  </div>
</div>
